@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Outfit:wght@300;400;600&display=swap');

:root {
    --t: 'Big Shoulders Display', cursive;
    --p: 'Outfit', sans-serif;
    --bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --darkblue: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --pp: hsl(215, 51%, 70%);

    --Cyan: hsl(178, 100%, 50%);
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    color: var(--White);
    background: var(--bg);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10rem;
}

.card {
    align-items: center;
    max-width: 290px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--card-bg);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}

.card__tittle {
    font-size: 10px;
    font-family: var(--p);
    text-align: start;

}

.card__p {
    font-size: 14px;
    color: var(--pp);
    font-family: var(--p);
    text-align: start;
}

.card__svg {

    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px; opacity: 2; transition: opacity 0.5s; */
    /* border-bottom: lid va1px sor(--White); */
    /* border-bottom: 1 solid var(--pp ); */
    padding: 1rem 0 1rem 0;
}

.card__svg--1 {
    color: var(--Cyan);
    font-family: var(--p);

}

.card__svg--2 {
    color: var(--pp);
    text-align: center;
    font-family: var(--p);


}

.card__final {
    display: flex;
    font-family: var(--p);
    color: var(--pp);
    border-top: 1px solid var(--pp);


}

.card__final--1 {
    padding-top: 1rem;

    width: 12%;

}

.card__final--2 {
    /* width: 90%; */
    text-align: start;
    margin: .4rem 0rem 1rem 1rem;
    font-size: 14px;
    padding-top: 1rem;
}

/* .card__img:hover{
    opacity: .5;
    background-image: url(/images/icon-view.svg);

} */

.card__img--1:hover {
    cursor: pointer;
    opacity: .5;
    background-color: var(--Cyan);
}

.attribution{
    background-color: var(--bg);
    color: var(--White);
    padding-top: 6rem;
    text-align: center;
    font-family: var(--p);
    font-size: 1.2rem;
    
}

/* - Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%) */